<h3>Contact Us</h3>

<form ng-submit="addWhiskey(whiskey)">
  <label>Name</label    <input type="text" name="name" ng-model="name" required>
  
  <label>Username</label>   <input type="text" ng-model="user.name" required>
    
  <label>Email</label>
  <input type="text" ng-model="user.useremail" required>

  <label>Comments</label>
  <textarea name="comments" ng-model="user.comments">    
  </textarea>
</form>

  <!-- <input placeholder="Whiskey Name" ng-model="whiskey.name">
  <input placeholder="Whiskey Maker" ng-model="whiskey.maker">
  <button>Add</button> -->
