<div class="page-header">

  <h1>User Login</h1>
  <hr/>
</div>  

<form name="userForm" ng-submit="submitForm(userform)"> 

<!-- novalidate prevents HTML5 validation. All login entries required-->
 
  <div class="form-group">
    <fieldset>
      <label>Name</label
      <input type="text" name="name" ng-model="name" required>
  
      <label>Username</label>
      <input type="text" ng-model="user.name" required>

      <label>Email</label>
      <input type="text" ng-model="user.email" required>

      <label>Password</label>
      <input type="text" ng-model="user.pwd" required>      

      <div id class="loginbtn"><button ng-click="myForm.submitTheForm()">Login</button>
      </div>
    </fieldset>
  </div>
</form>      

  



  